.container {
  .about__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
    align-items: flex-start;
    margin: 50px 0;
    width: 100%;
    .about__blog {
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: flex-start;
      div {
        p {
          line-height: 30px;
        }
      }
    }
    .about__text {
      display: flex;
      flex-direction: column;
      gap: 50px;
      strong {
        font-size: 35px;
        font-weight: 400;
        padding: 0 20px;
      }
      .about__products {
        background-color: var(--hero-color);
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        height: 200px;
        div {
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          padding: 15px 32px;
          p {
            font-size: 60px;
            font-weight: 700;
          }
        }
      }
    }
  }
  .about__brand {
    .brand__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      b {
        font-size: 30px;
      }
      .flex {
        display: flex;
        align-content: center;
        gap: 10px;
        .about__left {
          background-color: var(--hero-color);
          color: black;
          &:hover {
            background-color: var(--main-hover);
            color: var(--white);
          }
        }
      }
    }
    .about__brand-img {
      display: flex;
      align-items: center;
      gap: 70px;
      overflow-x: scroll;
      padding: 25px 0;
      img {
        width: 300px;
        height: 110px;
        object-fit: contain;
        border: 1px solid rgba(159, 159, 159, 0.684);
        padding: 10px;
      }

      &::-webkit-scrollbar {
        width: 10px;
        height: 5px;
      }
    }
  }
  .about__client{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    .client__result{
      padding: 20px 10px;
      border-bottom: 1px solid var(--main-text);
      img{
        width: 100%;
      }
      .client__text{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
        .client__btn{
          background: transparent;
          color: var(--main-text);
          padding: 10px;
          border: 1px solid var(--main-text);
        }
      }
    }
  }
}

@media (max-width:750px) {
  .container{
    .about__wrapper{
      grid-template-columns: repeat(1,1fr);
    }
    .about__client{
      grid-template-columns: repeat(2,1fr);
    }
  }
}
@media (max-width: 500px) {
  .container{
    .about__wrapper{
      grid-template-columns: repeat(1,1fr);
    }
    .about__client{
      grid-template-columns: repeat(1,1fr);
    }
  }
}