.container{
    .garant__wrapper{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: flex-start;
        margin: 50px 0;
        .garant__title{
            p{
                font-size: 35px;
            }
        }
        .garant__text{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .garand__exchange{
                font-size: 22px;
            }
            p{
                margin-top: 20px;
            }
            ul{
                margin-top: 20px;
                li{
                    list-style: disc;
                    margin-left: 20px;
                }
            }
        }
    }
}

@media (max-width:550px) {
    .container{
        .garant__wrapper{
            grid-template-columns: repeat(1,1fr);
            padding: 0 20px;
        }
    }
}