.container{
   .blog__wrapper{
    margin: 50px 0;
    .blog__title{
        font-size: 35px;
    }
   }
   .blog__card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 25px;
    .blog{
        padding: 10px;
        border-bottom: 1px solid var(--main-text);
        img{
            width: 100%;
            object-fit: contain;
        }
        .blog__flex{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 0;
            .client{
                background: transparent;
                color: var(--main-text);
                border: 1px solid var(--main-text);
                border-radius: 50%;
                padding: 10px;
            }
        }
    }
   }
}