.header{
  .sub-header{
    display: flex;
    justify-content: space-between;    
    align-items: center;
    height: 40px;
    &__collection{
      display: flex;
      align-items: center;
      gap: 27px;
    }
    &__link{
      font-size: 14px;
      color: var(--main-text);
    }
    &__phone{
      font-size: 14px;
      color: var(--main-text);
      span{
        opacity: .5;
        margin-left: 24px;
      }
    }
  }
  .navbar{
    display: flex;
    height: 60px;
    align-items: center;
    gap: 30px;
    &__category-btn{
      display: flex;
      align-items: center;
      padding: 14px 28px;
      border-radius: 50px;
      border: 0;
      background-color: var(--main-text);
      color: var(--white);
      gap: 10px;
      font-size: 16px;
      svg{
        font-size: 24px;
      }
    }
    &__search{
      flex: 1;
      height: 50px;
      border-radius: 50px;
      border: 1px solid var(--main-text);
      display: flex;
      input{
        flex: 1;
        border: 0;
        background: transparent;
        border-radius: 50px 0 0 50px;
        padding: 0 20px;
        font-size: 16px;
        ::placeholder{
          opacity: .4;
        }
      }
      button{
        border-radius: 0 40px 40px 0;
        background: transparent;
        width: 40px;
        height: 50px;
        border: 0;
        font-size: 22px ;
      }
    }
    &__action{
      display: flex;
      gap: 30px;
      &__link{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--main-text);
        svg{
          font-size: 21px;
        }
        span{
          font-size: 15px;
        }
      }
      &__link.none{
        display: none;
      }
    }
  }
}

@media (max-width:990px) {
  .header{
    &__overlay{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.38);
      z-index: 99;
    }
    .sub-header{
      position: fixed;
      left: -60%;
      top: 0;
      flex-direction: column;
      transition: .2s;
      justify-content: flex-start;
      align-items: flex-start;
      width: 60%;
      height: 100vh;
      padding: 30px;
      background-color: var(--hero-color);
      border-top: 1px solid #0a0808;
      z-index: 100;
      &__collection{
        flex-direction: column;
        align-items: flex-start;
        li{
          padding: 8px 0;
          span{
            a{
              font-size: 16px;
            }
          }
        }
      }
      &__phone{
        padding: 10px 0;
        a{
          display: flex;
          align-items: center;
        }
      }
    }
    .sub-header.show{
      left: 0%;
    }
    .navbar{
      flex-wrap: wrap;
      height: auto;
      padding: 15px 0;
      gap: 15px;
      justify-content: space-between;
     &__category-btn{
      padding: 12px 17px;
      span{
        display: none;
      }
     }
      &__search{
        flex: auto;
        width: 100%;
        height: 45px;
      }
      &__action{
        position: fixed;
        z-index: 101;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 55px;
        align-items: center;
        justify-content: space-evenly;
        background-color: var(--hero-color);
      }
      &__action{
        &__link.none{
          display: flex;
        }
      }
    }
  }
}
@media (max-width:450px) {
  .header{
    .navbar{
      &__logo{
        img{
          width: 170px;
        }
      }
      &__category-btn{
        padding: 8px 14px;
       }
      &__action{
        &__link{
          svg{
            font-size: 25px;
          }
          span{
            display: none;
          }
        }
      }
    }
  }
}